body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 100vw;
    height: 100vh;
background-color: rgb(202, 216, 227);
display: flex;
flex-direction: column;
}

.header{
    background-color: rgb(24, 24, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    border-bottom: 4px solid white;
}

.mainHeader{
    color: white;
}

.mainWrapper{
    flex: 1 1 auto;
    display: flex
}
.sidebar{
    background-color: antiquewhite;
    max-width: 400px;
    flex: 1 1 auto;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.li{
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    letter-spacing: 2px;
    margin: 6px;
    border: 2px solid black;
    padding: 2px;
}


.mainWrap{
    flex: 1 1 auto;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

#pageTitle{
    height: 40px;
    width: auto;
    font-weight: 600;
    margin: 20px 0 300px 0px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.modalWrapper{

    height: 100px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 2px 25px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.modalCloseButton{
    color: white;
    background-color: red;
    border-radius: 10%;
    position: relative;
    bottom: 20px;
    left: 50px;
}